<div class="content">
  <button ng-click="order = 'name'">Order by Name</button>
  <button ng-click="order = 'belt'">Order by Belt</button>

  <input type="text" ng-model="search" placeholder="Search for ninjas" />
  <ul id="ninjas-list">
    <li ng-repeat="ninja in $ctrl.ninjas | orderBy: order | filter: search" ng-show="ninja.available">
      <img ng-src="{{ninja.thumb}}" class="ninja-thumb" ng-show="ninja.thumb" />
      <h3>{{ninja.name}} - {{ninja.rate | currency: '$'}}</h3>
      <span class="remove" ng-click="$ctrl.removeNinja(ninja)">x</span>
      <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>
    </li>
  </ul>

  <form name="ninjaEntry" ng-submit="$ctrl.addNinja()" novalidate>
    <input type="text" placeholder="name" ng-model="$ctrl.newninja.name" ng-required="true" />
    <div ng-show="ninjaEntry.name.$touched && ninjaEntry.name.$invalid">
      <small class="warning-msg">Enter a valid Name</small>
    </div>
    <input type="text" placeholder="belt" ng-model="$ctrl.newninja.belt" ng-required="true" />
    <div ng-show="ninjaEntry.belt.$touched && ninjaEntry.belt.$invalid">
      <small class="warning-msg">Enter a valid Belt</small>
    </div>
    <input type="number" placeholder="rate" ng-model="$ctrl.newninja.rate" ng-required="true" />
    <input type="submit" value="Add New Ninja" ng-disabled="ninjaEntry.$invalid" />
  </form>
  <a href="" ng-click="$ctrl.removeAll()">Remove all ninjas</a>
</div>
